# Custom alias file

alias src="source $MY_DOTDIR/.zshrc"
alias zshcfg="vim $My_DOTDIR/.zshrc"
alias vimcfg="vim $MY_DOTDIR/.vimrc"
alias aliases="vim $MY_DOTDIR/.aliases"
alias vim="nvim -u $MY_DOTDIR/.vimrc"
alias tmux='tmux -f "$HOME/.config/tmux/.tmux.conf"'
alias neomutt='neomutt -F $HOME/.config/mutt/muttrc'
alias firefox='/mnt/c/Program\ Files\ \(x86\)/Mozilla\ Firefox/firefox.exe'
